          <div class="footer">
            <div class="contact">
              <p>
                Ivan Djordjevic<br />
                Websmith · API/User Experience Engineer · Light stalker<br />
                ivandj@gmail.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/ivandj">github.com/ivandj</a><br />
                <a href="https://twitter.com/ivandj">twitter.com/ivandj</a><br />
              </p>
            </div>
          </div>